.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.venv
venv
pip-log.txt
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitignore
.DS_Store
.dockerignore
Dockerfile
docker-compose.yml
db.sqlite3
media/
.idea
.vscode
