{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Контент -->
<div class="container">
    <section class="section2">
        <div class="right-layout">
            <div class="right-text">
                <div class="title2">
                    <h3 class="title2-1">
                        {{ intro.title_kr|default:"한국 요리의 히트작" }}
                    </h3>
                    {{ intro.title_ru|default:"Хиты корейской кухни" }}
                </div>
                <p class="label-ru">
                    {{ intro.content_ru|default:"Эти блюда – результат многовековой истории Кореи. От старинных рецептов, передававшихся из поколения в поколение, до традиционных уличных закусок Сеула – каждый рецепт хранит в себе культуру, обычаи и вкусовые предпочтения корейского народа. Попробовав их, вы ощущаете дух истории этой удивительной страны" }}
                </p>
            </div>
            <div class="right-image">
                <img id="restaurant-img" src="{% if intro.image %}{{ intro.image.url }}{% else %}{% static 'images/Korean-Sauces.jpg' %}{% endif %}" alt="Ресторан Soju & Seoul">
            </div>
        </div>
    </section>

    <!-- 2 -->
    <div class="right-layout">
        <div class="bottom-text">
            <div class="title2">
                <h3 class="title2-1">
                    {{ kimchi.title_kr|default:"김치" }}
                </h3>
                {{ kimchi.title_ru|default:"Кимчи" }}
            </div>
            <p class="label-ru">
                {{ kimchi.content_ru|default:"Искусно ферментированная капуста с пикантными специями, раскрывающая богатство корейской кухни в каждом кусочке. Это традиционное корейское блюдо передаёт рецепты и культуру страны на протяжении столетий" }}
            </p>
        </div>
        <div class="bottom-image">
            <img src="{% if kimchi.image %}{{ kimchi.image.url }}{% else %}{% static 'images/кимчи 2.jpg' %}{% endif %}" alt="кимчи">
        </div>
    </div>

    <!-- 3 -->
    <div class="right-layout">
        <div class="right-text">
            <div class="title2">
                <h3 class="title2-1">
                    {{ kimbap.title_kr|default:"김밥" }}
                </h3>
                {{ kimbap.title_ru|default:"Кимбап" }}
            </div>
            <br> <br>
            <p class="label-ru">
                {{ kimbap.content_ru|default:"Лёгкая и вкусная закуска: рис, свежие овощи, омлет и мясо, завернутые в лист нори. Она отражает культуру простых и питательных блюд, любимых в повседневной жизни корейцев" }}
            </p>
        </div>
        <div class="right-image">
            <img src="{% if kimbap.image %}{{ kimbap.image.url }}{% else %}{% static 'images/Кимбап.jpg' %}{% endif %}" alt="Кимбап">
        </div>
    </div>

    <!-- 4 -->
    <div class="right-layout">
        <div class="bottom-text">
            <div class="title2">
                <h3 class="title2-1">
                    {{ tteokbokki.title_kr|default:"떡볶이" }}
                </h3>
                {{ tteokbokki.title_ru|default:"Токпокки" }}
            </div>
            <p class="label-ru">
                {{ tteokbokki.content_ru|default:"Популярные в Корее мягкие рисовые лепёшки в остро-сладком соусе. Это блюдо объединяет гастрономические традиции и современную уличную культуру" }}
            </p>
        </div>
        <div class="bottom-image">
            <img src="{% if tteokbokki.image %}{{ tteokbokki.image.url }}{% else %}{% static 'images/Токпоки.jpg' %}{% endif %}" alt="Токпоки">
        </div>
    </div>

    <!-- 5 -->
    <div class="right-layout">
        <div class="right-text">
            <div class="title2">
                <h3 class="title2-1">
                    {{ jjajangmyeon.title_kr|default:"짜장면" }}
                </h3>
                {{ jjajangmyeon.title_ru|default:"Чаджанмен" }}
            </div>
            <br>
            <br>
            <p class="label-ru">
                {{ jjajangmyeon.content_ru|default:"Лапша в тёмном соевом соусе с обжаренным мясом и овощами. Насыщенный вкус и аромат делают это блюдо любимым в Корее и за её пределами" }}
            </p>
        </div>
        <div class="right-image">
            <img src="{% if jjajangmyeon.image %}{{ jjajangmyeon.image.url }}{% else %}{% static 'images/Чаджанмен.jpg' %}{% endif %}" alt="Чаджанмен">
        </div>
    </div>

    <!-- 6 -->
    <div class="right-layout">
        <div class="bottom-text">
            <div class="title2">
                <h3 class="title2-1">
                    {{ soju.title_kr|default:"소주" }}
                </h3>
                {{ soju.title_ru|default:"Соджу" }}
            </div>
            <p class="label-ru">
                {{ soju.content_ru|default:"Лёгкий и ароматный корейский алкогольный напиток, который идеально дополняет богатый вкус традиционных блюд. В нашем ресторане Soju & Seoul вы можете попробовать оригинальный соджу, подаваемый в сочетании с фирменными закусками и блюдами. Этот напиток олицетворяет атмосферу Сеула и позволяет ощутить корейскую культуру в каждой капле" }}
            </p>
        </div>
        <div class="bottom-image">
            <img src="{% if soju.image %}{{ soju.image.url }}{% else %}{% static 'images/Соджу.jpg' %}{% endif %}" alt="Соджу">
        </div>
    </div>

    <!-- Футер -->
    <div class="right-layout">
        <div class="bottom-text">
            <p class="footer2">
                {{ footer.content_ru|default:"В Soju & Seoul каждая закуска — это маленькое путешествие в сердце Кореи. От хрустящих овощных блинчиков до пикантного кимчи и нежного кimbap — наши закуски готовятся по традиционным рецептам, с любовью к вкусу и свежести ингредиентов. Они идеально дополняют основные блюда и напитки, создавая полный гастрономический опыт настоящей корейской кухни" }}
            </p>
        </div>
    </div>
</div>
{% endblock %}